@font-face {
  font-family: 'pressStart';
  src: url('../fonts/PressStart2P-Regular.ttf')  format('truetype')       
}

body{
margin: 0px;
/*font-family: "pressStart", Fallback, sans-serif;
color: #fff;*/
overflow-x: hidden;
/*overflow-y: hidden;*/
line-height: 150%;
}

.container{
	width: 100%;
	height: 100vh;
	background-color: #000;		
	
	/*border-top-image: 'top.png';
	border-right-image
	border-bottom-image
	border-left-image
	border-corner-image:
	border-top-left-image
	border-top-right-image
	border-bottom-left-image
	border-bottom-right-image*/
}
span:nth-child(0) {
    color: #a2nb32;
}
span:nth-child(1) {
    color: #b19301;
}
span:nth-child(2) {
    color: #19032v;
}
span:nth-child(3) {
    color: #12a19b;
}
span:nth-child(4) {
    color: #82a722;
}
span:nth-child(5) {
    color: #ff0000;
}
span:nth-child(6) {
    color: #f00f20;
}
span:nth-child(7) {
    color: #e823aa;
}
span:nth-child(8) {
    color: #ba2912;
}
spanp:nth-child(9) {
    color: #63b52d;
}

.frame{
	width: 100%;
	height: 100%;	
}

.moon{
	position: absolute;
	bottom: 50px;
	right: 50px;
	width: 300px;
	height: 200px;
}

.title{
position: absolute;
top: 60px;
width: 100%;
text-align: center;
color: #92f211;
}

.stats{
position: absolute;
left: calc(100vw / 12);
top: 130px;
width: 100%;
}

.name{
width: 200px;
display: inline-block;
}
