@(auraName: String, metrics: List[Metric])

@main(auraName) {   

<div class="container">

<div class="title"><h3>@auraName</h3></div>
    @if(metrics.isEmpty){
            <h2>No data available yet!</h2>
    } else {
		
		@for(metric <- metrics){  
			@if(metric.plotType == "scoreboard"){ 
			<div class="stats">							
				@for(entry <- metric.metricEntries){				
					<span><div class="name">@entry.name</div> @entry.value</span></br>					
				}				
				</div>
			} else {
				<h2>@metric.name</h2>
				<div id="@metric.name"></div>
				<br/>
			}
		}
	}
	
	<img class="frame" src="@routes.Assets.at("images/frame.png")"></img>	
	</div>
	

    <script>

    $(document).ready(function () {
        
		@for(metric <- metrics){
		var metricData = [];
			@for(metricEntry <- metric.metricEntries){
				metricData.push({ label: '@metricEntry.name', value: @metricEntry.value });
			}
							
			Morris.Donut({
				element: '@metric.name',
				data: metricData
			});
		}		
	});		

/*new Morris.Line({
  element: 'auratimes',
  data: data,
  xkey: 'date',
  ykeys: ['value'],
  labels: ['Value']
});

   new Morris.Bar({
  element: 'burgerbar',
  data: [
    { y: '2006', a: 100, b: 90 },
    { y: '2007', a: 75,  b: 65 },
    { y: '2008', a: 50,  b: 40 },
    { y: '2009', a: 75,  b: 65 },
    { y: '2010', a: 50,  b: 40 },
    { y: '2011', a: 75,  b: 65 },
    { y: '2012', a: 100, b: 90 }
  ],
  xkey: 'y',
  ykeys: ['a', 'b'],
  labels: ['Series A', 'Series B']
});*/
        
</script>

}