@(aura: Aura)

@main("Aurasma Custom Analytics", true) {   
	
	Name: @aura.name<br>
	Admin password: @aura.adminToken<br>

	<br>
	<button onclick="openPublicPage()">Open public page</button>
	<br>
	
	<br>
	Metrics:<br>
	<ul>
	@for(metric <- aura.metrics){
		<li>@metric.name - Entries: @metric.metricEntries.size() <a href="@aura.name/deleteMetric/@metric.id">delete</a></li>
	}
	</ul>

	<br>
	Displays:<br>
	<ul>
	@for(display <- aura.displays){
		<li>
			@display.name shows metric @display.metric.name (type: @display.plot) Groupings:(
			@if(display.groupUser){
				U
			}
			@if(display.groupCategory){
				C
			}
			@if(!display.timeFrame.isEmpty()){
				T
			}
			)
			<a href="@aura.name/deleteDisplay/@display.id">delete</a>
		</li>
	}
	</ul>

	<br>
		<h3>Actions</h3>
		Name: <input id="metricname" type="text" /><br>
		Redirect: <input id="metricredirect" type="text" /><br>
		<button onclick="newMetric()">Create Metric</button>
	<br><br><br>
		Name: <input id="displayname" type="text" /><br>
		Metric: <select id="displaymetric">
		@for(metric <- aura.metrics){ <option value="@metric.name">@metric.name</option> }  
		</select><br>
		Plot: <select id="plot">
			<option value="text">Text</option>
			<option value="donut">Donut</option>
			<option value="bars">Bars</option>
			<option value="line">Line</option>
			</select><br>
			Grouping:
		Category <input id="displaycategory" type="checkbox" /> &nbsp;&nbsp;
		User <input id="displayuser" type="checkbox" />
		Time <input id="displaytime" type="checkbox" onchange="timeChange()"/><br>
		<div id="timeFrameDiv" style="display:none">
		Time interval: <select id="timeFrame">
			<option value="Minute">Minute</option>
			<option value="Hourly">Hourly</option>
			<option value="Daily">Daily</option>
			<option value="Weekly">Weekly</option>
			<option value="Monthly">Monthly</option>
			<option value="Yearly">Yearly</option>
			</select><br>
		</div>
		<button onclick="newDisplay()">Create Display</button>
	<br>
    <br>


	<script>
	function timeChange(){
		console.log(document.getElementById("displayuser").value);
		if(document.getElementById("displaytime").checked){			
			document.getElementById("timeFrameDiv").style.display = "block";
		}else{
			document.getElementById("timeFrameDiv").style.display = "none";
		}
	}

	function newMetric(){
		var data = {
			auraName: "@aura.name",
			metricname: document.getElementById("metricname").value
		}
		if(document.getElementById("metricredirect").value) data["metricredirect"] = document.getElementById("metricredirect").value;
		else data["metricredirect"] = "";
		if(document.getElementById("metricname").value){
			var xhr = new XMLHttpRequest();
			xhr.open("POST", "/auraAdmin/newMetric");
			xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
	  		xhr.send(JSON.stringify(data));

			xhr.onloadend = function () {
	    		var statusCode = xhr.status;
	   			if(statusCode == 200) window.location.href = '/auraAdmin/' + "@aura.name";
	  		};
		}
	}

	function newDisplay(){
		var data = {
			auraName: "@aura.name",
			displayName: document.getElementById("displayname").value,
			metric: document.getElementById("displaymetric").value,
			plot: document.getElementById("plot").value,
			category: document.getElementById("displaycategory").checked,
			user: document.getElementById("displayuser").checked,
			timeFrame:""
		};
		if(document.getElementById("displaytime").checked) data["timeFrame"] = document.getElementById("timeFrame").value;
		var xhr = new XMLHttpRequest();
		xhr.open("POST", "/auraAdmin/createDisplay");
		xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
  		xhr.send(JSON.stringify(data));

		xhr.onloadend = function () {
    		var statusCode = xhr.status;
   			if(statusCode == 200) window.location.href = '/auraAdmin/' + "@aura.name";
  		};
	}

	function openPublicPage(){
		window.open("/@aura.name","_blank");
	}
	</script>

}
