@(aura: Aura, profileId: String)

@import play.api.libs.json.Json

@main("Aurasma Custom Analytics", false, aura.template) {   
	
	<h3>@aura.name</h3>

	@for(display <- aura.displays){	
	<br>
		@display.name (@display.metric.name)<br>		
		<!-- @if(display.metric.metricEntries.isEmpty){
            <h4>No data available yet!</h4>
    	} else { }-->
    	<div class="metricContainer">
    		<div class="metric" id="@display.name"></div>
		</div>		
	}

	<script>
		@for(display <- aura.displays){
			var data = JSON.parse("@display.getData(profileId)".replace(/&quot;/g, '\"').replace(/=/g, ':'));
			var plotdata = [];
			for(key in data) plotdata.push({label:key,value:data[key]});

			@if(display.plot.equals("text")){
				for(key in data) document.getElementById("@display.name").innerHTML += key +": " + data[key]+"<br>";
			}
			@if(display.plot.equals("donut")){
				Morris.Donut({element:"@display.name",data:plotdata});
			}
			@if(display.plot.equals("line")){
				new Morris.Line({element: "@display.name",
				    data: plotdata,
				    xkey: 'key',
				    ykeys: ['value'],
				    labels: ['Value']
				});
			}
        }
	</script>

}
