@main("Aurasma Custom Analytics", false,"") {    
		
	<br>	
	<div class="signin">
		<input id="aura" class="control" type="text" placeholder="Aura Name"/>
		<input id="code" class="control" type="password" placeholder="Password"/>
		<button class="btn btn-lg btn-primary btn-block" onclick="newaura()">Login</button>
	</div>

	<script>

	document.body.style.backgroundColor = "#d3d3d3";
	function newaura(){
		var aura = document.getElementById("aura").value;
		var code = document.getElementById("code").value;
		var data = {aura:aura,code:code};
		var xhr = new XMLHttpRequest();
		xhr.onreadystatechange = function () {
   			if(xhr.readyState == XMLHttpRequest.DONE){
   				console.log(xhr.readyState);
   				window.location = '/';
   			}
  		};
		xhr.open("POST", "/authenticate");
		xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
		xhr.send(JSON.stringify(data));
  	}
	</script>

}
