@main("Aurasma Custom Analytics", false) {    
		
	<br>	
	<form class="form-signin">
		<input id="aura" class="form-control" type="text" placeholder="Aura Name"/>
		<input id="code" class="form-control" type="password" placeholder="Password" />
		<button class="btn btn-lg btn-primary btn-block" onclick="newaura()">Login</button>
		</form>

	<script>

	document.body.style.backgroundColor = "#d3d3d3";
	function newaura(){
		var aura = document.getElementById("aura").value;
		var code = document.getElementById("code").value;
		var data = {aura:aura,code:code};
		var xhr = new XMLHttpRequest();
  		xhr.open("POST", "/authenticate");
		xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
  		xhr.send(JSON.stringify(data));

		xhr.onloadend = function () {
    		var statusCode = xhr.status;
   			if(statusCode == 200) window.location.reload();
  		};
  	}
	</script>

}
