@(auraName: String, metricName: String, value: Integer)

@main(auraName) {   
	
	Insert your name: @* retrieve from local storage*@
	<input type="text" id="playerName">
	</br>
	Score: @value
	</br>
	<button onclick="openURL('@routes.Application.createMetricEntry(auraName,metricName,"",value)')">Submit</button>
		
	<script>
	
	
	document.addEventListener("DOMContentLoaded", function(event) { 
  		var name = localStorage.getItem("lunAR_playerName");		
		if(name != null) name = JSON.parse(name);
		document.getElementById("playerName").value = name;		
	});
	
	function openURL(url){		
		var url = url;
		url = url.substr(0, url.indexOf("//")) + "/" + document.getElementById("playerName").value + url.substr(url.indexOf("//")+1);
		localStorage.setItem("lunAR_playerName",JSON.stringify(document.getElementById("playerName").value));		
		window.open(url,"_self");
	}
	
	</script>
}