@(auraName: String, metricName: String, category: String, value: Integer)

@main(auraName, false, "") {   
							
	<script>
		var user = prompt("Please enter your name", "Harry Potter");		
		var data = {
			auraName: "@auraName",
			metricName: "@metricName",
			user: user,
			value: @value
		}				
		var xhr = new XMLHttpRequest();
		var url = "/register/" + "@auraName" + "/" + "@metricName" + "?user=" + user + "&value=" + @value;
		if("@category") url += "&category=" + "@category";
		xhr.open("GET", url);
		xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
  		xhr.send(JSON.stringify(data));

		xhr.onloadend = function () {
    		var statusCode = xhr.status;
   			if(statusCode == 200) window.location.href = '/' + "@auraName";
  		};		
	</script>
}